body {
    background-color: rgb(12, 12, 12);
}

svg {
    margin: -10px ;
}

h1 {
    margin-top: -10px;
    color: rgb(204, 204, 204);
}

#subtitle {
    color: rgb(204, 204, 204);
    margin-bottom: 30px;
}

svg path {
    fill: rgb(204, 204, 204);
}

#videoTravis {
    max-width: 1280px;
    background-color: black;
    border-radius: 10px;
}

#buttons {
    display: flex;
    flex-direction: column;
    max-width: 850px;
    width: 100%;
    z-index: 999;
    height: 60px;
    justify-content: space-between;
    border-radius: 10px;
    transition: all 0.2s ease;
    position: relative;
    padding-top: 10px;
    position: relative;
    top: -60px;
}

#videoContainer {
    display: flex;
    height: 100vh;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.showing {
    visibility: visible;
    opacity: 1;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

#buttons button {
    width: 40px;
    height: 30px;

    margin: 5px;
    border-radius: 5px;

    color: white;
    background: none;
    border: none;
}

#buttons div {
    display: flex;
}

#buttons select {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border: none;
    color: white;
    background-color: rgb(31, 31, 31);
    transition: all 0.2s ease;
}

#buttons select:hover {
    background-color: rgb(17, 17, 17);
}

#videoControllers {
    display: flex;
    position: relative;
    top: -10px;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

#video-timer {
    display: flex;
    max-width: 850px;
    width: 100%;
    height: 30px;
    position: relative;
    top: -20px;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
}

#timevideo {
    height: 5px;
    transition: all 0.2s ease;
    background-color: rgb(126, 126, 126);
    transition: all 0.2s ease;
    width: 100%;
    margin-top: -10px;
}

#controllersTime {
    display: flex;
    align-content: center;
    align-items: center;
    padding:  5px 10px;
}

#volumeController {
    display: flex;
    width: 0;
    transition: all 0.2s ease;
    margin-right: 20px;
    background-color: rgb(126, 126, 126);
    height: 7px;
}

#buttonsPlay {
    display: flex;
    align-items: center;
}

#buttonsPlay p {
    color: white;
}

#soundContainer button i {
    font-size: 20px;
}

#soundContainer {
    display: flex;
    width: 150px;
    height: 30px;
    align-items: center;
}

#credits {
    display: flex;
    flex-direction: column;
}

#credits h5 {
    font-weight: 500;
    color: rgb(204, 204, 204);
}

#credits a {
    text-align: center;
    font-size: 11px;
    transition: all 0.2s ease;
    color: rgb(130, 130, 130);
}

#credits a:hover {
    color: white;
}
